In [1]:
import pandas as pd
import numpy as np

In [3]:
df_sachin = pd.read_csv("sachin_odi.csv")

In [5]:
df_sachin.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

In [6]:
df_sachin.shape

(360, 14)

## 1. Probability of Win : P(W)

In [9]:
df_sachin["Won"].value_counts()

Yes    184
No     176
Name: Won, dtype: int64

In [10]:
184/(184+176)

0.5111111111111111

In [11]:
df_won = df_sachin[df_sachin["Won"] == "Yes"]

In [13]:
len(df_won)

184

In [12]:
len(df_sachin)

360

In [15]:
prob_winning = len(df_won)/len(df_sachin)
prob_winning

0.5111111111111111

## 2. Probility of scoring a century : P(C)

In [16]:
df_sachin["Century"].value_counts()

No     314
Yes     46
Name: Century, dtype: int64

In [18]:
# 46/360

In [19]:
df_century = df_sachin[df_sachin["Century"] == "Yes"]

In [20]:
prob_century = len(df_century)/len(df_sachin)

In [21]:
prob_century

0.12777777777777777

### 3. Prob of Winning and Century : P[W ^ C]

In [22]:
df_sachin[["Century", "Won"]].value_counts()

Century  Won
No       No     160
         Yes    154
Yes      Yes     30
         No      16
dtype: int64

In [23]:
df_sachin[["Century", "Won"]].value_counts().reset_index()

  Century  Won    0
0      No   No  160
1      No  Yes  154
2     Yes  Yes   30
3     Yes   No   16

In [24]:
pd.crosstab(index= df_sachin["Century"], columns = df_sachin["Won"])

Won       No  Yes
Century
No       160  154
Yes       16   30

In [25]:
30/360

0.08333333333333333

### using the pandas

In [30]:
df_century_and_won = df_sachin[(df_sachin["Century"] == "Yes") & (df_sachin["Won"] == "Yes")]

In [32]:
prob_win_and_century = len(df_century_and_won)/len(df_sachin)
prob_win_and_century

0.08333333333333333

### P(W|C)

In [33]:
df_century = df_sachin[df_sachin["Century"]=="Yes"]

In [35]:
df_century.shape

(46, 14)

In [36]:
df_win_given_century = df_century[df_century["Won"]=="Yes"]
len(df_win_given_century)

30

In [37]:
prob_win_given_century = len(df_win_given_century)/len(df_century)
prob_win_given_century

0.6521739130434783